* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --gray77: #c4c4c4;
  --harmonies: #1a2236;
  --darkerBlue: #172b4d;
  --pastelTurquoise: #98dede;
  --black: #000;
  --mediumElectricBlue: #1c528a;
  --raspberryPink: #e2505c;
  --maximumYellowRed: #febf52;
  --ghostWhite: #f9f9fa;
}

body {
  font-family: Poppins, sans-serif;
  min-height: 100vh;
}

.grid {
  display: grid;
}

.section__title {
  font-family: "Playfair Display", serif;
  font-size: 3.125em;
  font-weight: normal;
  line-height: 1em;
  text-align: left;
  color: var(--harmonies);
  padding: 30px 16px 0 16px;
}

.section__desc {
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1.5em;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--harmonies);
  padding: 30px 16px 0 16px;
  margin-right: 16px;
}

.connect {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
  text-align: center;
  color: var(--white);
  background: var(--harmonies);
  padding: 12px 42px;
  margin: 20px 16px;
  text-decoration: none;
}

.connect:hover {
  color: var(--harmonies);
  background-color: var(--white);
  cursor: pointer;
  border: 1px solid var(--harmonies);
}

.connect:active {
  cursor: pointer;
  border: 2px solid var(--harmonies);
}

/* Start CSS Header */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 74px;
  width: 100%;
  background-image: url(img/mobile/top_left.svg);
  background-repeat: no-repeat;
}

nav {
  width: 20px;
  height: 14px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav ul {
  display: none;
}

.line {
  border: 1px solid var(--gray77);
}

/* End CSS Header */

/* Start CSS Headline */

#headline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#headline .section__title {
  padding: 30px 16px 0 16px;
}

#headline .section__desc {
  margin-bottom: 40px;
}

#headline .connect {
  display: block;
}

.separator {
  width: 100%;
  height: 160px;
  margin-top: 20px;
  padding: 0;
  background-image: url(img/mobile/separator.svg);
  background-size: cover;
}

/* End CSS Headline */

/* Start CSS Work Section */

#project {
  width: 100%;
  margin: 0 auto;
}

#project .section__title {
  background: var(--white);
  padding-bottom: 25px;
  padding-top: 40px;
}

.project-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--harmonies);
  color: var(--white);
  margin: 0 auto;
}

.project__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.project__preview {
  height: 186px;
  background-size: cover;
}

.one-desktop {
  display: none;
}

.one {
  background-image: url(img/mobile/one.png);
}

.two {
  background-image: url(img/mobile/two.png);
}

.three {
  background-image: url(img/mobile/three.png);
}

.four {
  background-image: url(img/mobile/four.png);
}

.five {
  background-image: url(img/mobile/five.png);
}

.six {
  background-image: url(img/mobile/six.png);
}

.project__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.project__description * {
  align-self: left;
}

.project__name {
  font-size: 1.25em;
  font-weight: 100;
  line-height: 1.25em;
  margin-top: 15px;
}

.project__item_five .project__name.desktop {
  display: none;
}

.project__technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  cursor: pointer;
  margin-top: 10px;
}

.project__technologies li {
  list-style: none;
  margin-right: 8px;
  margin-top: 10px;
  padding: 6px 10px;
  background: var(--pastelTurquoise);
  font-size: 0.625em;
  font-weight: 300;
  line-height: 0.8em;
  text-align: left;
  color: var(--black);
}

.project__item_five .project__technologies li:last-child {
  display: none;
}

.project__visit-btn {
  border: 1px solid var(--white);
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
  text-align: center;
  color: var(--white);
  padding: 10px;
  margin: 20px 0;
}

.project__visit-btn img {
  margin-left: 10px;
  margin-bottom: -5px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* End CSS Work Section */

/* Start CSS About Section */

#about {
  grid-template-rows: auto auto;
  row-gap: 40px;
  margin-bottom: 40px;
}

.about-desc-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
}

#about .connect img {
  margin-left: 20px;
  margin-bottom: -5px;
}

.skills-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  grid-template-rows: repeat(3, 289px);
  row-gap: 16px;
  color: var(--white);
}

#skills__language {
  background: var(--mediumElectricBlue);
  background-image: url(img/mobile/sharp.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

#skills__framework {
  background: var(--raspberryPink);
  background-image: url(img/mobile/ic_framework.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

#skills__skill {
  background: var(--maximumYellowRed);
  background-image: url(img/mobile/ic_skills.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.skills__title {
  font-size: 1.25em;
  font-weight: 800;
  line-height: 1.5em;
  padding-left: 50px;
  padding-top: 50px;
  margin-bottom: 21px;
}

.skills__list {
  padding-left: 67px;
}

#about .skills__list li {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: -0.0525em;
  text-align: left;
}

.geometry_three {
  display: none;
}

/* End CSS About Section */

/* Start CSS Get started */

#get-started {
  grid-template-rows: auto;
  background-color: var(--ghostWhite);
  background-image: url(img/mobile/top_left.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  padding: 70px 16px;
  width: 100%;
}

#get-started .section__desc {
  margin-bottom: 20px;
  padding-right: 5px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#name,
#email,
#message {
  width: 100%;
  margin-bottom: 8px;
  padding: 16px;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
  border-radius: 5px;
}

.placeholder {
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
  color: #59585f;
}

.placeholder.name {
  position: absolute;
  top: 18px;
  left: 17px;
}

.placeholder.email {
  position: absolute;
  top: 82px;
  left: 17px;
}

input[type="checkbox"]:checked ~ .placeholder.name,
#name:focus ~ .placeholder.name,
#name:not(:focus):valid ~ .placeholder.name {
  position: absolute;
  top: 4px;
  left: 16px;
  transition: 0.1s ease all;
  font-size: 0.65em;
}

input[type="checkbox"]:checked ~ .placeholder.email,
#email:focus ~ .placeholder.email,
#email:not(:focus):valid ~ .placeholder.email {
  position: absolute;
  top: 68px;
  left: 16px;
  transition: 0.1s ease all;
  font-size: 0.65em;
}

input[type="checkbox"] {
  display: none;
}

#get-started .connect {
  width: 100%;
  border-style: none;
  margin: 0 auto;
}

#get-started .connect:hover {
  border: 1px solid var(--harmonies);
}

/* End CSS Get started */

/* Start CSS Contact */

#contact {
  display: flex;
  flex-direction: column;
  background-color: var(--harmonies);
  padding-bottom: 20px;
  width: 100%;
}

.contact__resume {
  display: flex;
  justify-content: space-between;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.2em;
  text-align: left;
  color: var(--pastelTurquoise);
  width: 50%;
  margin: 20px;
  cursor: pointer;
}

.get-resume-desktop {
  display: none;
}

#contact .contact__resume .get-resume-desktop ~ img {
  display: none;
}

.contact__social-media {
  display: flex;
  justify-content: space-around;
}

/* End CSS Contact */

/* Desktop version */

@media screen and (min-width: 768px) {
  @keyframes bigger-font {
    0% { font-size: 6.875rem; }
    25% { font-size: 7rem; }
    50% { font-size: 7.5rem; }
    75% { font-size: 8rem; }
    100% { font-size: 8.5rem; }
  }

  .section__title {
    font-size: 6.875em;
    font-weight: 400;
    line-height: 1em;
    text-align: left;
  }

  /* Begin header */

  header {
    box-shadow: 0 0.5px 0 #dddfe6;
    background: var(--white);
    justify-content: center;
    height: 100px;
  }

  nav {
    width: 35%;
    justify-content: center;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav ul li {
    list-style: none;
  }

  nav ul li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    text-align: right;
    color: var(--harmonies);
    position: relative;
    padding-bottom: 4px;
  }

  nav ul li a:focus {
    outline: #1875df;
  }

  nav ul li a:hover::before {
    position: absolute;
    bottom: 0;
    width: 80%;
    content: "";
    border-bottom: 2px solid var(--harmonies);
  }

  .line {
    display: none;
  }

  /* End header */

  /* Begin headline */

  #headline {
    flex-direction: row;
    margin-bottom: 210px;
  }

  .headline_left {
    background-image: url(img/desktop/image_dots.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    margin-left: 160px;
  }

  #headline .section__title {
    margin: 192px 94px 30px 0;
    animation-name: bigger-font;
    animation-duration: 3s;
  }

  #headline .section__desc {
    margin-right: 94px;
  }

  #headline .connect {
    width: 50%;
    font-size: 1.125em;
    font-weight: 500;
    line-height: 1.5em;
    text-align: center;
    padding: 21.76px 25.16px;
    margin-right: 94px;
  }

  .separator {
    background-image: url(img/desktop/separator.svg);
    height: 877px;
    margin-top: 0;
  }

  /* End headline */

  /* Begin project */

  .project-container {
    display: grid;
    grid-template-columns: 32.29% 23.26% 12.15% 32.29%;
    grid-template-rows: 205px 353px 350px 465px 270px;
    grid-gap: 0 0;
    position: relative;
    background: var(--white);
  }

  .project__title {
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(img/desktop/image_dots_two.svg);
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
  }

  #project .project-container .project__title h2.section__title {
    transform: translateX(-120px) rotate(-90deg);
    color: var(--harmonies);
    position: absolute;
    top: 140px;
  }

  .project__description {
    background-color: var(--harmonies);
    opacity: 0.95;
    width: 100%;
  }

  .project__technologies li {
    font-size: 1.25em;
  }

  .project__visit-btn {
    color: var(--harmonies);
    background-color: var(--white);
    border-color: var(--harmonies);
  }

  .project__item {
    cursor: pointer;
  }

  .project__item.project__item_one {
    grid-column: 2/5;
    grid-row: 1/3;
    justify-content: flex-end;
  }

  .project__item_one .project__preview {
    display: none;
  }

  .project__item_one .project__description {
    padding: 60px;
  }

  .one-desktop {
    display: block;
    background-image: url(img/desktop/one.svg);
    position: absolute;
    top: 0;
    right: 0;
    height: 558px;
    width: 67.71%;
  }

  .project__item_one .project__name {
    font-style: normal;
    font-weight: 700;
    font-size: 3.75em;
    line-height: 80%;
  }

  .project__item_one .project__technologies {
    margin-top: 34px;
  }

  .project__item_one .project__visit-btn {
    margin-top: 60px;
  }

  .project__item_one .project__visit-btn img {
    -webkit-filter: none;
    filter: none;
  }

  .project__item.project__item_two {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: flex-end;
  }

  .two {
    background-image: url(img/desktop/two.svg);
    height: 76.49%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
  }

  .project__item_two .project__description {
    display: none;
  }

  .project__item.project__item_three {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .three {
    background-image: url(img/desktop/three.svg);
  }

  .project__item_three .project__preview {
    height: 100%;
  }

  .project__item_three .project__description {
    display: none;
  }

  .project__item.project__item_four {
    grid-column: 3/5;
    grid-row: 5;
  }

  .project__item_four .project__preview {
    height: 100%;
  }

  .four {
    background-image: url(img/desktop/four.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .project__item_four .project__description {
    display: none;
  }

  .project__item.project__item_five {
    flex-direction: column-reverse;
    position: absolute;
    top: 610px;
    right: 0;
    width: 29.0625em;
  }

  .project__item_five .project__preview {
    height: 270px;
  }

  .project__item_five .project__description {
    padding: 30px;
    padding-right: 24px;
  }

  .project__item_five .project__name.mobile {
    display: none;
  }

  .project__item_five .project__name.desktop {
    display: inline;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 80%;
  }

  .project__item_five .project__technologies li:nth-child(3) {
    display: none;
  }

  .project__item_five .project__technologies li:last-child {
    display: inline;
  }

  .project__item.project__item_six {
    grid-column: 4/5;
    grid-row: 3/4;
  }

  .six {
    background-image: url(img/desktop/six.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .project__item_six .project__description {
    display: none;
  }

  .geometry_one {
    grid-column: 2/4;
    grid-row: 3/4;
    background-image: url(img/desktop/image-geometry_one.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  .geometry_two {
    grid-column: 3/5;
    grid-row: 4/5;
    background-image: url(img/desktop/image-geometry_two.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  .geometry_three {
    display: block;
    grid-column: 1/3;
    grid-row: 5;
    background-image:
      url(img/desktop/image-geometry_three.png),
      url(img/desktop/cone_yellow.png);
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-size: auto;
  }

  /* End project */

  /* Begin About */

  #about {
    margin: 216px 160px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .about-desc-container {
    grid-column: 2/3;
    grid-row: 1;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #about .about-desc-container .section__title {
    padding: 0 96px;
  }

  #about .about-desc-container .section__desc {
    padding: 30px 96px;
  }

  #about .about-desc-container .connect {
    margin-left: 70px;
  }

  .skills-container {
    grid-column: 1/2;
    grid-row: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 0;
    margin: 0;
  }

  .skills__list {
    padding-bottom: 90px;
  }

  .geometry_four {
    display: block;
    background-image: url(img/desktop/image_dots_with_teal.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  /* End About */

  /* Begin Get Started */

  #get-started {
    background-image:
      url(img/desktop/image-geometry_four.svg),
      url(img/desktop/image-geometry_five.svg);
    background-position: top left, bottom right;
    background-size: auto;
  }

  #get-started * {
    width: 38%;
    margin: 0 auto;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  #get-started h2.section__title {
    margin-top: 168px;
    margin-bottom: 40px;
  }

  #get-started .section__title + .section__desc {
    margin-bottom: 60px;
  }

  form {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 82px;
    margin-bottom: 90px;
  }

  #name,
  #email {
    width: 46.17%;
    margin-bottom: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  #message {
    width: 96%;
    margin-bottom: 40px;
  }

  .placeholder.name,
  input[type="checkbox"]:checked ~ .placeholder.name,
  #name:focus ~ .placeholder.name,
  #name:not(:focus):valid ~ .placeholder.name {
    position: absolute;
    top: -18px;
    font-size: 12px;
  }

  .placeholder.email,
  input[type="checkbox"]:checked ~ .placeholder.email,
  #email:focus ~ .placeholder.email,
  #email:not(:focus):valid ~ .placeholder.email {
    position: absolute;
    top: -18px;
    left: 52%;
    font-size: 12px;
  }

  #get-started form > input[type="submit"].connect {
    width: 46.17%;
    margin-bottom: 42px;
  }

  /* End Get Started */

  /* Begin Social Media */

  #contact {
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
  }

  .contact__resume {
    justify-content: flex-start;
  }

  .contact__resume .get-resume-mobile {
    display: none;
  }

  .contact__resume .get-resume-mobile + img {
    display: none;
  }

  .contact__resume .get-resume-desktop {
    display: inline;
    margin-right: 1rem;
  }

  #contact .contact__resume .get-resume-desktop ~ img {
    display: inline;
  }

  .contact__social-media {
    justify-content: space-between;
    align-items: center;
    width: 20.55%;
  }

  /* End Social Media */
}
