* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Poppins, cursive;
  min-height: 100vh;
}

main {
  width: 320px;
}

.section-title {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: normal;
  line-height: 50px;
  text-align: left;
  color: #1a2236;
}

.section-desc {
  margin-top: 20px;
  margin-right: 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #1a2236;
}

.connect {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 12px 42px;
  color: #fff;
  background: #1a2236;
  margin-right: 16px;
  margin-top: 20px;
  text-decoration: none;
}

.connect:hover {
  color: #1a2236;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #1a2236;
}

.connect:active {
  cursor: pointer;
  border: 2px solid #1a2236;
}

/* Start CSS Header */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 74px;
  width: 320px;
  background-image: url(img/mobile/top_left.svg);
  background-repeat: no-repeat;
}

nav {
  width: 20px;
  height: 14px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  border: 1px solid #c4c4c4;
}

/* End CSS Header */

/* Start CSS Headline */

#headline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
  margin-top: 30px;
}

#separator {
  background-image: url(img/mobile/separator.svg);
  height: 160px;
  margin-top: 20px;
  margin-right: 16px;
}

/* End CSS Headline */
