* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Poppins, cursive;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 74px;
}

#orange-triangle {
  position: absolute;
  top: 0;
}

#red-diamond {
  position: absolute;
  top: 0;
  left: 37px;
}

nav {
  width: 20px;
  height: 14px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  border: 2px solid #c4c4c4;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
  margin-top: 30px;
  height: 330px;
}

#owner {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: normal;
  line-height: 50px;
  text-align: left;
  color: #1a2236;
}

#intro {
  margin-right: 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #1a2236;
}

#collaboration {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 12px 42px;
  color: #fff;
  background: #1a2236;
  margin-right: 16px;
  margin-top: 20px;
  text-decoration: none;
}

#collaboration:hover {
  color: #1a2236;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #1a2236;
}

#collaboration:active {
  cursor: pointer;
  border: 2px solid #1a2236;
}
